:root {
    --header-height: 5rem;

    /* =============== Color =============== */
    /* Color mode HSL(hue,saturation,lightness) */
    --first-hue: 258;
    --second-hue: 225;
    --first-color: hsl(var(--first-hue), 54%, 48%);
    --title-color: hsl(var(--second-hue), 64%, 18%);
    --text-color: hsl(var(--first-hue), 8%, 35%);
    --border-color: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--first-hue), 60%, 98%);
    --container-color: #fff;

    /* =============== Font And Typography =============== */
    /* .5rem = 8px | 1rem : 16px */
    --body-font: 'Fira Sans', sans-serif;
    --biggest-font: 4rem;
    --h1-font: 2.25rem;
    --h2-font: 1.5rem;
    --h3-font: 1.25rem;
    --normal-font: 1rem;
    --small-font: .875rem;
    --smaller-font: .813rem;

    /* =============== Font Weight =============== */
    --font-light: 300;
    --font-medium: 500;
    --font-semibold: 600;

    /* =============== z index =============== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (max-width:1024px) {
    :root {
        --biggest-font: 2.75rem;
        --h1-font: 1.5rem;
        --h2-font: 1.25rem;
        --h3-font: 1rem;
        --normal-font: .938rem;
        --small-font: .813rem;
        --smaller-font: .75rem;
    }
}

/* =============== BASE =============== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6rem;
    text-align: justify;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: .75rem;
}

/* =============== REUSABLE CSS =============== */
.main {
    width: 100%;
    min-height: 100%;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.grid {
    display: grid;
}

.section {
    padding: 7rem 0 2rem;
}

/* =============== HEADER & NAV =============== */
.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--container-color);
    width: 100%;
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 1.25rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.nav .nav-logo {
    display: inline-flex;
    align-items: center;
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link {
    font-size: var(--small-font);
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .4s all;
}

.nav-link:hover {
    color: var(--first-color);
}

/* Active Link */
.nav-link:hover::before,
.nav-link::before {
    content: "";
    position: absolute;
    bottom: -.5rem;
    left: 0;
    height: 2px;
    background-color: var(--first-color);
    width: 0px;
    border-radius: 50%;
    transition: .4s;
}

.nav-link:hover::before,
.active::before {
    width: 30px;
}

.active {
    color: var(--first-color);
}

.nav-menu {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.nav-menu .nav-links {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.nav-close,
.nav-toggle {
    color: var(--title-color);
    display: none;
}

.nav-toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav-close {
    font-size: 1.25rem;
}

/*
.nav-links .nav-link {
    position: relative;
    list-style: none;
}

.nav-links .nav-link a {
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 1px;
    color: var(--border-color);
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.5);
}

.nav-links .nav-link a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: .5s;
    border-right: 1px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

.nav-links .nav-link a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 50px var(--clr))
}



 */

/* =============== HOME =============== */
.home {
    font-family: 'Be Vietnam Pro', sans-serif;
    padding: 6rem 0 2rem;
    position: relative;
    width: 100%;
    height: 100%;
}

/* 
.background_shape {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #f1faff;
    clip-path: polygon(100% 0%, 81% 86%, 0% 100%, 0% 0%);
    z-index: -1;
} */

.home-content {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    align-items: center;
}

/* .left-home .sub-title,
.left-home .title {
    font-weight: var(--font-light);
    line-height: 68px;
} */

.left-home .sub-title {
    font-size: var(--h1-font);
    font-weight: var(--font-semibold);
}

.left-home .title {
    font-size: var(--biggest-font);
    font-weight: var(--font-semibold);
    font-family: 'Fira Sans', sans-serif;
    background: linear-gradient(to bottom right, #38bdf8 0%, #1d4ed8 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-home .desc {
    font-size: var(--h3-font);
    text-align: start;
    font-weight: 400;
    line-height: 2rem;
}

.left-home .desc span {
    font-family: 'Fira Sans', sans-serif;
    background: linear-gradient(to bottom right, #fb7185 0%, #7c3aed 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.left-home .buttons {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
    margin-bottom: 3rem;
}

.left-home .buttons span {
    color: var(--first-color);
    font-size: var(--h1-font);
    font-weight: var(--font-medium);
}

.left-home .buttons span:nth-child(2) {
    opacity: .7;
}

.left-home .buttons span:nth-child(3) {
    opacity: .4;
}


.home-group {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-sosial {
    display: flex;
    align-items: center;
}

.home-sosial .sosial-follow {
    color: var(--title-color);
    font-size: var(--normal-font);
    font-weight: var(--font-medium);
    padding-right: 8.175rem;
    position: relative;
}

.home-sosial .sosial-follow::after {
    position: absolute;
    content: "";
    right: 1rem;
    height: 2px;
    top: 58%;
    width: 100px;
    background-color: hsla(var(--second-hue), 64%, 18%, .15);
    margin: -1px;
}

.home-sosial .sosial-links {
    display: inline-flex;
    column-gap: .5rem;
}

.sosial-links a {
    display: inline-flex;
    align-items: center;
    padding: .5rem .5rem .5rem .5rem;
    border: 1px solid hsl(var(--second-hue), 64%, 18%, .15);
    background-color: var(--container-color);
    color: var(--title-color);
    border-radius: .75rem;

}

.sosial-links a i {
    font-size: var(--h2-font);
    text-align: center;
    transition: .4s;
}

.sosial-links a span {
    font-weight: var(--font-medium);
    display: inline-flex;
    line-height: 14px;
    transform: translateX(1rem);
    overflow: hidden;
    max-width: 0;
    white-space: nowrap;
    transition: 1s;
}

.sosial-links a span::after {
    content: "";
    margin-right: 1rem;
}

.sosial-links a:hover i,
.sosial-links a:hover span {
    color: var(--first-color);
}

.sosial-links a:hover span {
    max-width: 400px;
}

.simple_shapes .one,
.simple_shapes .two,
.simple_shapes .three,
.simple_shapes .four,
.simple_shapes .five,
.simple_shapes .six,
.simple_shapes .seven,
.simple_shapes .eight,
.simple_shapes .nine,
.simple_shapes .ten,
.simple_shapes .eleven,
.simple_shapes .twelve,
.simple_shapes .thirteen,
.simple_shapes .fourteen,
.simple_shapes .fifteen,
.simple_shapes .sixteen,
.simple_shapes .seventeen,
.simple_shapes .eighteen,
.simple_shapes .nineteen,
.simple_shapes .twenty {
    position: absolute;
    z-index: -1;
}

.simple_shapes .one {
    top: 15%;
    left: 7%
}

.simple_shapes .one .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .one .svg {
    width: 10px;
    height: 10px;
    stroke: rgba(108, 99, 255, .3)
}

.simple_shapes .two {
    bottom: 15%;
    left: 5%
}

.simple_shapes .two .cls-1 {
    stroke: none;
    fill: rgba(108, 99, 255, .3)
}

.simple_shapes .two .svg {
    width: 95px;
    height: 95px
}

.simple_shapes .three {
    top: 13%;
    right: 5%
}

.simple_shapes .three .cls-1 {
    stroke: none;
    fill: rgba(108, 99, 255, .2)
}

.simple_shapes .three .svg {
    width: 120px;
    height: 120px
}

.simple_shapes .four {
    top: 29%;
    left: 10%
}

.simple_shapes .four .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .four .svg {
    width: 35px;
    height: 35px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .five {
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
    transform: rotate(90deg)
}

.simple_shapes .five .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .five .svg {
    width: 35px;
    height: 35px;
    stroke: rgba(108, 99, 255, .3)
}

.simple_shapes .six {
    bottom: 33%;
    left: 3%;
    transform: rotate(250deg);
}

.simple_shapes .six .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .six .svg {
    width: 30px;
    height: 70px;
    stroke: rgba(51, 51, 51, .3)
}

.simple_shapes .seven {
    bottom: 4%;
    left: 10%
}

.simple_shapes .seven .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .seven .svg {
    width: 35px;
    height: 35px;
    stroke: rgba(255, 71, 71, .3)
}

.simple_shapes .eight {
    bottom: 24%;
    left: 14%
}

.simple_shapes .eight .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .eight .svg {
    width: 10px;
    height: 10px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .nine {
    top: 19%;
    left: 36%;
    transform: rotate(70deg)
}

.simple_shapes .nine .cls-1 {
    stroke: inherit;
    fill: none;
}

.simple_shapes .nine .svg {
    width: 30px;
    height: 50px;
    /* stroke: rgba(108, 99, 255, .3) */
}

.simple_shapes .ten {
    top: 25%;
    left: 50%;
    transform: rotate(180deg)
}

.simple_shapes .ten .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .ten .svg {
    width: 35px;
    height: 35px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .eleven {
    bottom: 50%;
    left: 48%
}

.simple_shapes .eleven .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .eleven .svg {
    width: 10px;
    height: 10px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .twelve {
    bottom: 30%;
    left: 49%
}

.simple_shapes .twelve .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .twelve .svg {
    width: 24px;
    height: 44px;
    stroke: rgba(255, 71, 71, .3)
}

.simple_shapes .thirteen {
    bottom: 26%;
    left: 39%
}

.simple_shapes .thirteen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .thirteen .svg {
    width: 18px;
    height: 18px;
    stroke: rgba(91, 215, 180, .3)
}

.simple_shapes .fourteen {
    top: 14%;
    right: 13%
}

.simple_shapes .fourteen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .fourteen .svg {
    width: 10px;
    height: 10px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .fifteen {
    top: 32%;
    right: 2%
}

.simple_shapes .fifteen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .fifteen .svg {
    width: 35px;
    height: 55px;
    stroke: rgba(51, 51, 51, .3)
}

.simple_shapes .sixteen {
    top: 50%;
    right: 3%
}

.simple_shapes .sixteen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .sixteen .svg {
    width: 10px;
    height: 10px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .seventeen {
    top: 59%;
    right: 3%
}

.simple_shapes .seventeen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .seventeen .svg {
    width: 35px;
    height: 35px;
    stroke: rgba(108, 99, 255, .3)
}

.simple_shapes .eighteen {
    bottom: 19%;
    right: 10%
}

.simple_shapes .eighteen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .eighteen .svg {
    width: 30px;
    height: 30px;
    stroke: rgba(255, 71, 71, .3)
}

.simple_shapes .nineteen {
    bottom: 12%;
    right: 19%
}

.simple_shapes .nineteen .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .nineteen .svg {
    width: 10px;
    height: 10px;
    stroke: rgba(169, 219, 90, .3)
}

.simple_shapes .twenty {
    bottom: 12%;
    right: 3%
}

.simple_shapes .twenty .cls-1 {
    stroke: inherit;
    fill: none
}

.simple_shapes .twenty .svg {
    width: 35px;
    height: 35px;
    stroke: rgba(169, 219, 90, .3)
}

.anim_circle {
    animation: animCircle 15s infinite linear
}

@keyframes animCircle {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.anim_scale {
    animation: animScale 5s linear 0s infinite alternate
}

@keyframes animScale {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(2)
    }
}

.anim_scale2 {
    animation: animScale2 5s linear 0s infinite alternate
}

@keyframes animScale2 {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.4)
    }
}

.anim_translate {
    animation: animTranslate 5s linear 0s infinite alternate
}

@keyframes animTranslate {
    0% {
        transform: rotate(42deg) translateX(-5px)
    }

    100% {
        transform: rotate(42deg) translateX(5px)
    }
}

.anim_moveTop {
    animation: animMoveTop 5s linear 0s infinite alternate
}

@keyframes animMoveTop {
    0% {
        transform: translateY(-30px)
    }

    100% {
        transform: translateY(30px)
    }
}

.anim_moveLeft {
    animation: animMoveLeft 5s linear 0s infinite alternate
}

@keyframes animMoveLeft {
    0% {
        transform: translateX(-30px)
    }

    100% {
        transform: translateX(30px)
    }
}

.anim_extra {
    animation: animExtra 5s linear 0s infinite alternate
}

@keyframes animExtra {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(180deg)
    }
}

.anim_right {
    animation: animRight 5s linear 0s infinite alternate
}

@keyframes animRight {
    0% {
        transform: translateX(15px)
    }

    100% {
        transform: translateX(-15px)
    }
}

.anim_right2 {
    animation: animRight2 5s linear 0s infinite alternate
}

@keyframes animRight2 {
    0% {
        transform: translateX(0px)
    }

    100% {
        transform: translateX(-30px)
    }
}

.anim_left2 {
    animation: animLeft2 5s linear 0s infinite alternate
}

@keyframes animLeft2 {
    0% {
        transform: translateX(-30px)
    }

    100% {
        transform: translateX(0px)
    }
}


/* =============== ABOUT =============== */
.about-content {
    font-family: 'Fira Sans', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
}

.about-data .sub-title,
.about-data .title {
    text-align: left;
}

.about-data .sub-title {
    display: block;
}

.about-data .title {
    font-size: var(--h1-font);
    color: var(--first-color);
    margin-bottom: .5rem;
}

.about-img {
    justify-self: center;
}

.about-desc {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 17px;
    margin-bottom: 1rem;
}

.about-title {
    text-align: center;
    color: var(--text-color);
}

.about-personal {
    text-align: center;
    color: var(--first-color);
    margin-bottom: 2.875rem;
}

.about-personal span {
    color: var(--title-color);
}

.about-left .about-left-title {
    font-size: var(--h2-font);
    text-transform: capitalize;
    font-weight: var(--font-semibold);
    padding-bottom: 12px;
}

.about-left .details {
    line-height: 22px;
    font-weight: 400;
    font-size: 16px;
}

.about-left .about-left-title span {
    color: var(--first-color);
}

.about-left .about-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.about-left .about-info i {
    font-size: var(--h3-font);
    margin-right: 10px;
}

.about-left ul {
    margin: 20px 0;
}

.about-left .btn {
    padding: .875rem 1.75rem;
    background-color: var(--first-color);
    color: var(--body-color);
    border-radius: 5px;
    font-weight: var(--font-semibold);
    transition: .4s;
}

.about-left .btn:hover {
    background-color: var(--border-color);
    color: var(--first-color);
}

/* .about-right {
    margin-top: 30px;
} */

.skils-wrapper h4 {
    font-size: 16px;
    font-weight: var(--font-semibold);
    /* padding-top: 15px; */
}

.skilbar {
    display: block;
    position: relative;
    margin-top: 15px;
    width: 100%;
    background-color: rgba(187, 23, 23, 0.1);
    height: 5px;
    margin-bottom: 15px;
}

.skilbar.html,
.skilbar.css,
.skilbar.javascript,
.skilbar.tailwind,
.skilbar.vue-js {
    position: relative;
}

.skilbar.html::before {
    content: "";
    position: absolute;
    width: 95%;
    height: 5px;
    background-color: var(--first-color);
}

.skilbar.css::before {
    content: "";
    position: absolute;
    width: 85%;
    height: 5px;
    background-color: var(--first-color);
}

.skilbar.javascript::before {
    content: "";
    position: absolute;
    width: 75%;
    height: 5px;
    background-color: var(--first-color);
}

.skilbar.tailwind::before {
    content: "";
    position: absolute;
    width: 65%;
    height: 5px;
    background-color: var(--first-color);
}

.skilbar.vue-js::before {
    content: "";
    position: absolute;
    width: 60%;
    height: 5px;
    background-color: var(--first-color);
}

@media screen and (max-width: 1208px) {
    .container {
        margin: 0 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    .simple_shapes .six {
        bottom: 20%;
        left: 30%;
        transform: rotate(250deg);
    }

    .simple_shapes .three .svg {
        width: 90px;
        height: 90px
    }

    .simple_shapes .eight {
        display: none;
    }
}

@media screen and (max-width: 821px) {
    .simple_shapes .two .svg {
        width: 60px;
        height: 60px;
    }

    .simple_shapes .sixteen,
    .simple_shapes .thirteen,
    .simple_shapes .six,
    .simple_shapes .nineteen {
        display: none;
    }

    .simple_shapes .three {
        top: 13%;
        right: 30%;
    }

    .left-home .title {
        font-size: 2.35rem;
    }

    .left-home .sub-title {
        font-size: var(--h2-font);
    }

    .left-home .desc {
        font-size: var(--small-font);
        line-height: 1.25rem;
        width: 335px;
    }


}

@media screen and (max-width: 650px) {
    .about-content {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .right-home {
        display: none;
    }

    .home-content {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }

    .home-sosial .sosial-follow {
        padding-right: 3rem;
    }

    .home-sosial .sosial-follow::after {
        width: 20px;
    }


    .nav-menu {
        position: fixed;
        background-color: var(--container-color);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 4rem 0 0 3rem;
        box-shadow: -2px 0 4px hsla(250, 24%, 15%, .1);
        transition: .4s;
    }

    .show-menu {
        right: 0;
    }

    .nav-list {
        flex-direction: column;
        row-gap: 2rem;
    }


    .nav-close {
        display: block;
        position: absolute;
        top: 2rem;
        right: 2rem;
        cursor: pointer;
    }

    .nav-toggle {
        display: block;
    }

    .home {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        flex-direction: column;
    }
}

@media screen and (max-width: 350px) {}